html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #016f32;
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Lucida Sans, Arial sans-serif;
    /*background-image: url("images/jetblackjacket.jpg");*/
    color: whitesmoke;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
}

h1 {
	color: goldenrod;
    font-size: 80px;
}
h2 {
    font-size: 50px;
}
#message-el {
    font-style: italic;
}

button {
    background-color: goldenrod;
    color: #016f32;
    font-size: 60px;
}

span {
    font-size: 40px;
}